/* app global css */
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.bg-sign {
  background: #e9ecef;
  /*background-image: linear-gradient(135deg, #7028e4 0%, #e5b2ca 100%);*/
}